.connect-wallet-button {
  align-items: flex-start;
  background-color: #6c5ce7;
  border-radius: 90px;
  cursor: pointer;
  height: 48px;
  max-width: 400px;
  min-width: 200px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 48px;
  font-family: "Rubik", sans-serif;
}

.connect-wallet-button:hover {
  background-color: #fd79a8;
}
