.custom-input {
  background-color: #ffe1ec;
  border: 0;
  border-radius: 4px;
  padding-left: 12px;
  height: 56px;
  max-width: 400px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #7268ff;
}

.custom-input:focus {
  outline: none;
}
