.list-item-card {
  background-color: #ffe1ec;
  border-radius: 12px;
  font-family: "Rubik", sans-serif;
  padding: 12px;
}

.list-item-card th {
  padding: 0 20px;
  color: #7268ff;
}

.list-item-card td {
  padding: 0 20px;
}
